body {
    background: url(https://image.freepik.com/foto-gratis/vista-superior-accesorios-escritorio-oficina-telefono-movil-papel-nota-pluma-cafe-escritorio-madera-escritorio-oficina_1921-257.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body, textarea {
    font-family: 'Handlee', cursive;
    font-size: 400;
}

h1 {
    text-align: center;
    margin-top: 50px; 
}

textarea {
    padding-top: 5px;
}

li {
    text-align: left;
}

.writetask, ul {
    margin: 50px 480px;
}



